.DS_store
data_sources.inc
env_domains.inc
vendor/
tests/active_tests/
tests/reports/*
tests/archive/*
tests/results/*
tests/test-results/*
.phpunit.result.cache
environment_variables/
.vscode
.idea
**/log
**/page_cache