<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1, maximum-scale=1">
        <title>({{ ENV_NAME|upper }}) Sample Page</title>

        <link rel="icon" type="image/png" href="{{ SITE_URL }}/favicon.png">
        <link rel="icon" type="image/x-icon" href="{{ SITE_URL }}/favicon.ico">
    </head>
    <body>

        <!-- Main Content -->
        <div class="main-content">
            <div class="content-lock">

                <div class="has-mg-top-30">
                    <div class="h-row">
                        <div class="v-col">
                            <p>This page uses the Common/Sample_Template</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <!-- End Main Content -->

    </body>
</html>