{% include 'mod_header/component.html.twig' %}

    <!-- Main Content -->
    <div class="main-content">
        <div class="content-lock">

            <div class="has-mg-top-30">
                <div class="h-row">
                    <div class="v-col">
                        <p>Hello world - spa_test_results</p>

                        {{ component_data }}
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- End Main Content -->

{% include 'mod_footer/component.html.twig' %}